// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-custom{
	color: white;
	background-color: transparent;
	border-color: white;
	border-width: 2px;
	transition: all 0.5s;

}
	.btn-custom:hover{
		transition: all 0.5s;

		color: white;
		background-color: rgba(0,0,0,0.5);
	}

.container-3rd{
	background-color: #443433;
}